:root {
  --aiblue: #245de5;
  --aiblueLight: #e5eeff;
  --aiblueDark: #0035b2;
  --aiblueSky: #4971ff;
  --techaqua: #0eba9b;
  --techaquaLight: #e7f8f5;
  --techaquaDark: #00896d;
  --rocketviolet: #6725e6;
  --success: #33c300;
  --warning: #ffd12c;
  --danger: #ed4545;
  --new: #ed45c8;
  --gray000: #1e212a;
  --gray100: #272a35;
  --gray150: #313543;
  --gray200: #3e4355;
  --gray300: #5a617c;
  --gray350: #666e8c;
  --gray400: #9096ac;
  --gray450: #a3a8ba;
  --gray500: #b8bcca;
  --gray600: #d4d7df;
  --gray700: #e9eaee;
  --gray800: #f6f6f8;
  --gray900: #ffffff;
}

body {
  font-family: "Pretendard", Helvetica, "맑은 고딕", "malgun gothic",
    "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic",
    "Droid sans", sans-serif;
  background-color: #eef1fa;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.title {
  text-align: center;
  padding: 24px 0;
  color: var(--aiblueDark);
}

.visualContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.screenContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.imageWithCanvas {
  position: relative;
  width: 600px;
  height: 400px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08);
}

.img {
  width: 600px;
  height: 400px;
  object-fit: cover;
}

.video {
  width: 600px;
  height: 400px;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.captureBtn {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background-color: var(--aiblue);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray900);
  border-radius: 8px;
  padding: 6px 12px;
  font-weight: 600;
  cursor: pointer;
}
