<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- clear cache -->
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />

    <style>
      .canvas-container {
        display: flex;
        justify-content: space-between;
      }
      canvas {
        border: 1px solid black;
        margin: 10px;
      }
    </style>
    <title>HLS Video Player</title>
  </head>
  <body></body>
  <script type="module" src="./main.js"></script>
  <script src="docs.opencv.org_4.5.0_opencv.js"></script>
  <!-- <script type="module" src="./webrtc.js"></script> -->
</html>

<!-- server 실행방법
1. 터미널에 sudo npm run dev 입력
2. 터미널에 뜨는 주소를 클릭해서 입장 -->
